{% extends 'polls\base.html' %}
{% block title %}Hi zzzz{% endblock title %}
{% block body %}Enter a new report details

<form method="post" bgcolor="Blue">
    {% csrf_token%}
    <h1>Welcome To Report creation!!</h1>
    <label>Report Name
         <select name="report_name" >
        {% for rep in report_list %}
<!--             <label for="report_id"><input type="checkbox" id="report_id"></input></label>-->
            <option id="{{rep.Report_idfr}}" label="{{rep.id}}" style="width:150px;">{{rep.Report_desc}}</option>
             {% endfor%}
    </select>
    </label>
    <label> select DB </label>
    <div></div>
    {% for db in db_name%}
    <div>
    <label for="dbs" value="{{db}}">{{db[0]}}
        <input type="checkbox" id="dbs">
    </label>
        </div>
    {% endfor%}


    <input type="submit" value="OK">

</form>

{% endblock body%}
